---
---

@import "{{ site.theme }}";

.page-header {
    /* background-color: #009688;   update */
    background-image: -webkit-linear-gradient(left,
    #FF8800,
    #FF8800 14.285%,
    #FBBA00 14.285%,
    #FBBA00 28.57%,
    #7CB61F 28.57%,
    #7CB61F 42.855%,
    #22BBEA 42.855%,
    #22BBEA 57.14%,
    #0071B9 57.14%,
    #0071B9 71.425%,
    #5943FF 71.425%,
    #5943FF 85.71%,
    #B243FF 85.71%) !important;
    background-image: -ms-linear-gradient(left,
    #FF8800,
    #FF8800 14.285%,
    #FBBA00 14.285%,
    #FBBA00 28.57%,
    #7CB61F 28.57%,
    #7CB61F 42.855%,
    #22BBEA 42.855%,
    #22BBEA 57.14%,
    #0071B9 57.14%,
    #0071B9 71.425%,
    #5943FF 71.425%,
    #5943FF 85.71%,
    #B243FF 85.71%) !important;
    background-image: linear-gradient(to right,
    #FF8800,
    #FF8800 14.285%,
    #FBBA00 14.285%,
    #FBBA00 28.57%,
    #7CB61F 28.57%,
    #7CB61F 42.855%,
    #22BBEA 42.855%,
    #22BBEA 57.14%,
    #0071B9 57.14%,
    #0071B9 71.425%,
    #5943FF 71.425%,
    #5943FF 85.71%,
    #B243FF 85.71%) !important;
    background-size: 100% !important; /* update */
    background-position: 50% 100% !important;
    background-repeat: no-repeat !important;
    }

.btn-alt {
    color: #1e6bb8;
    border-color: #1e6bb8;
    }
.btn-alt:hover {
    color: #62affc;
    border-color: #62affc;
    cursor: grab;
}
.btn-alt:active {
    cursor: grabbing;
}
.btn-dwn {
    background: #1f8dd6;
    color: #fff;
    border: 1px solid #1f8dd6;
}
.btn-dwn:hover {
    background: #1f8dd6;
    color: #fff;
    border: 1px solid #1f8dd6; 
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

td {
    border: 1px solid #fff !important;
}
