---
---

@import "{{ site.theme }}";

body {
    font-family: "Titillium Web", sans-serif;
}

a {
    color: #00558a;
}

h1 {
    font-size: 1.75rem;
    line-height: 4rem;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 2px;
}

p {
    max-width: 60em;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

td {
    border: 1px solid #fff !important;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    font-family: "Titillium Web", sans-serif;
    color: #00558a;
}

.page-header {
    background-image: linear-gradient(120deg, #BB3430, #C15F9C) !important;
}

.btn-alt {
    color: #1e6bb8;
    border-color: #1e6bb8;
}
.btn-alt:hover {
    color: #62affc;
    border-color: #62affc;
    cursor: grab;
}
.btn-alt:active {
    cursor: grabbing;
}
.btn-dwn {
    background: #1f8dd6;
    color: #fff;
    border: 1px solid #1f8dd6;
}
.btn-dwn-inactive {
    background: #a1b0ba;
    color: #fff;
    border: 1px solid #a1b0ba;
}
.btn-dwn-inactive {
    cursor: not-allowed;
}
.btn-dwn:hover {
    background: #1f8dd6;
    color: #fff;
    border: 1px solid #1f8dd6; 
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}